<a href="https://colab.research.google.com/github/kleberdiasguilherme/ETL/blob/main/ETL_Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd

# Extração: Carregar o arquivo CSV em um DataFrame
df = pd.read_csv('Anime.csv')

In [43]:
# Transformação: Classificar as linhas com base na coluna 'Rating' e armazenar o resultado
df_sorted = df.sort_values(['Rating'], ascending=False).head(100)

# Contar o número de animes na coluna 'Type'
contagem_por_tipo = df['Type'].value_counts()

# Imprimir a contagem separada por tipo
print("Contagem por tipo de anime:")
print(contagem_por_tipo)

Contagem por tipo de anime:
TV       5446
Movie    3577
Web      2488
OVA      2235
Music    2165
Other     990
DVD S     911
TV Sp     683
Name: Type, dtype: int64

In [ ]:
# Exemplo de fase de carga (exportação para um novo arquivo CSV)
# Isso exporta as primeiras 100 linhas do DataFrame classificado
df_sorted.to_csv('animes_classificados.csv', index=False)

# Opcional: Imprimir as primeiras linhas do DataFrame classificado
display("Primeiras 100 linhas do DataFrame classificado:")
display(df_sorted)